   .table_dynamic, .th_header_dynamic {
        border: 1px solid black;
        color: blue;
        font-weight: bold;
        padding: 5px;
        border-collapse: collapse;
   }

   #add_btn_dynamic_table {
           border: 3px solid darkseagreen;
           background-color: mediumaquamarine;
           color: black;
   }
